{% extends 'base.html' %}
{% load static %}
{% block title %}{{ post.title_tag }}{% endblock %}

{% block content %}
<div class="dipu7">
        
    <h1 class="dipu2">{{ post.title }}</h1>
    By:
        {{ post.author.first_name }}
        {{ post.author.last_name }} -
        {{ post.post_date}}

        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
                <a class="btn btn-danger" href="{% url 'update_post' post.pk %}">Edit</a>
                <a class="btn btn-danger" href="{% url 'delete_post' post.pk %}">Delete</a>
            {% endif %}
        {% endif %}

    <hr>
    <br/>
    {% if post.header_image %}
        <img src="{{ post.header_image.url }}" >
    {% endif %}
    <!-- <div class="container"> -->
        {{ post.body|safe}}
    <!-- </div> -->
    <!-- <a class="btn btn-secondary" href="{% url 'home' %}">Back</a> -->

    <hr>

    <form action="{% url 'like_post' post.pk %}" method="POST">
        {% csrf_token %}
        {% if user.is_authenticated %}
        {% if liked %}

        <button type="submit", name= 'posts_id', value="{{ post.id }}", class="btn btn-danger btn-sm">Unlike</button>
        {% else %}
        <button type="submit", name= 'posts_id', value="{{ post.id }}", class="btn btn-primary btn-sm">Like</button>
        {% endif %}
        {% else %}
            <small><a href="{% url 'login' %}">Login</a>to like</small>
        {% endif %}
        -{{ total_likes }} Likes 
    </form>
    <hr>
    
    <div class="card mb-3">
        <div class="row no-gutters">
        <div class="col-md-2">
            {% if post.author.profile.profile_pic %}
                <img src="{{ post.author.profile.profile_pic.url }}" class="card-img">
            {% else %}
                <img src="{% static 'blogapp/images/blank-profile.png' %}" class="card-img">
            {% endif %}
            
            </div>
        <div class="col-md-10">
            <div class="card-body">
                <h5 class="card-title">
                {{ post.author.first_name }}
                {{ post.author.last_name }}
                    </h5>

                    <p class="small text-muted">
                        <a href="{% url 'show_profile' post.author.profile.id %}">Profile</a>

                        {% if post.author.profile.facebook_url %}
                            <a href="{{ post.author.profile.facebook_url }}"><i class="fa fa-facebook big" aria-hidden="true"></i></a> 
                        {% endif %}

                        {% if post.author.profile.twitter_url %}
                            <a href="{{ post.author.profile.twitter_url }}"><i class="fa fa-twitter big" aria-hidden="true"></i></a> 
                        {% endif %}

                        {% if post.author.profile.instagram_url %}
                            <a href="{{ post.author.profile.instagram_url }}"><i class="fa fa-instagram big" aria-hidden="true"></i></a> 
                        {% endif %}    
                        {% if post.author.profile.pinterest_url  %}
                            <a href="{{ post.author.profile.pinterest_url }}"><i class="fa fa-pinterest-p big" aria-hidden="true"></i></a>
                        {% endif %}
                    </p>
                    <p class="card-text">
                        {{ post.author.profile.bio }}>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <h2>Comments...</h2>

    <br/>

    {% if not post.comments.all %}
        No Comments Yet..... <a href="{% url 'add_comment' post.pk %}">Add One</a>
    {% else %}
    <!-- <a href="{% url 'add_comment' post.pk %}">Add Comment</a> -->
        {% for comment in post.comments.all %}
            <small>{{ comment.body }}</small>   
            <br/> 
            <strong>{{ comment.name }} - <small>{{ comment.date_added }}</small></strong>
            <br/><br/>
        {% endfor %}
        <a href="{% url 'add_comment' post.pk %}">Add Comment</a>
    {% endif %}
    <br/><br/>
</div>
{% endblock %}
