<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'blogapp/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'blogapp/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'blogapp/css/style.css' %}">
    
    
    <title>{% block title %} TrobuleMaker {% endblock %}</title>
  </head>
  
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark dipu" style="background-color: #2d3436">
        <a class="navbar-brand dipu3" href="{% url 'home' %}">TrobuleMaker!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto dipu4">

            {% if cat_menu %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories</a>
                <div class="dropdown-menu dipu5" aria-labelledby="navbarDropdown">
                  {% for item in cat_menu %}
                  <a class="dropdown-item" href="{% url 'category' item %}">{{ item }}</a>
                  {% endfor%}
                </div> 
            </li>
            {% else %}
            
            <li class="nav-item">
              <a class="nav-link" href="{% url 'category-list' %}">Categories</a>
            </li>
            {% endif %}
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'add_post' %}">Add Post</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'add_category' %}">Add Category</a>
              </li>
          
            {% else %}

              <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Register</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
              </li>
          
            {% endif %}
          </ul>
          {% if user.is_authenticated %}
          <ul class="navbar-nav ml-auto dipu4">
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ user.first_name }}{{ user.last_name }}
              </a>
              <div class="dropdown-menu dropdown-menu-right dipu5 " aria-labelledby="navbarDropdown">
                
                {% if user.profile.id %}
                  <a class="dropdown-item" href="{% url 'edit_profile_page' user.profile.id %}">Edit Profile</a>
                  <a class="dropdown-item" href="{% url 'show_profile' user.profile.id %}">Profile</a>
                {% else %}
                  <a class="dropdown-item" href="{% url 'create_profile_page' %}">Create Profile</a>
                {% endif %}
                  <a class="dropdown-item" href="{% url 'edit_profile' %}">Setting</a>
                  <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
              </div>
            </li>
          </ul> 
          {% endif %}
          <div class="social text-grey">
            <a href="https://www.facebook.com/"><i class="fa fa-facebook big" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/?hl=en"><i class="fa fa-instagram big" aria-hidden="true"></i></a>
            <a href="https://twitter.com/login"><i class="fa fa-twitter big" aria-hidden="true"></i></a>
            <a href="https://www.pinterest.com/"><i class="fa fa-pinterest-p big" aria-hidden="true"></i></a>
          </div>
        </div>
      </nav>

    <!-- <div class="container"> -->

        {% block content %}

        {% endblock %}

    <!-- </div> -->

    <!---------------------------------------------------------Footer  -------------------------------------------------->
    <footer class="footer"> 
      <div class="container">
        <div class="row dipu9">
          <div class="col-md-4">
            <div class="about-us">
            <h2>About</h2>
            <small> Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore iusto, voluptate suscipit dolorum expedita rem assumenda nemo. Ab voluptate sequi quaerat illum animi ex labore, laboriosam molestiae omnis reiciendis alias? </small>
            </div>
          </div>
          <div class="col-md-4">
            <div class="newsletter">
            <h2>Newsletter</h2>
            <small>Stay update with our latest</small>
            <div class="form-element">
              <input type="text" placeholder="Emial"><span><i class="fa fa-chevron-right"></i></span>
            </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="follow">
                <h2>Follow Us</h2>
                <h6>Let us be Social</h6>
                <div class="social-link">
                  <a href="https://www.facebook.com/"><i class="fa fa-facebook big" aria-hidden="true"></i></a>
                  <a href="https://www.instagram.com/?hl=en"><i class="fa fa-instagram big" aria-hidden="true"></i></a>
                  <a href="https://twitter.com/login"><i class="fa fa-twitter big" aria-hidden="true"></i></a>
                  <a href="https://www.pinterest.com/"><i class="fa fa-pinterest-p big" aria-hidden="true"></i></a>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="rights flex-row">
        <h6 class="tex">
          Copyright ©2020 All rights reserved | Made By <a href="#" target="black">Dipanshu</a>
        </h6>
      </div>
      <div class="move-up">
        <span class="my"><i class="fa fa-arrow-circle-up fa-2x"></i></span>
      </div>      
    </footer>










    
    <!---------------------------------------------------------Footer  -------------------------------------------------->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <!-- Owl carousel -->
    <script src="{% static 'blogapp/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'blogapp/js/main.js' %}" ></script>
  </body>
</html>