
:root{

    /* Theme colors */
    --text-gray:#d63031;
    --text-light:#ff7675;
    --bg-color:#dfe6e9;
    --white:#ffffff;
    --midnight:#2d3436;

    /* Gradient Color */
    --sky: radial-gradient(circle, #2fa9eb, #41aeec, #50b3ec, #5eb8ed, #6abdee);
    /* --sky: linear-gradient(to right top, #80d3f0, #6cc9ef, #57bfee, #43b4ec, #2fa9eb); */
    /* --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); */
}

/* .dipu6{
    background-color:#f5f6fa;
} */

.dipu7{
    padding: 1.2rem 1.2rem !important;
    margin: 5rem 5rem !important;
}


/* Sticky-Nav */

.dipu{
    padding: .8rem;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    /* background-color: rgba(255, 255, 255, 0.98); */
    box-shadow: 0 5px 5px #272626;
}

/* .dipu{
    padding: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 100;
} */


/* Sticky-Nav */



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    /* White spacing */
    /* We will add white space using padding(because we want to add a background image(Generally we use margin for making space b/w elements)) */
    padding: 50px 0;
}
  

html,body {
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif!important;
    text-rendering:optimizeLegibility;
    overflow-x: hidden;
    /* overflow: hidden; */
}


/* GLOBAL ITEMS */
p{
    color: rgba(0, 0, 0, 0.685);
}

li{
    list-style-type: none;
}

a{
    font-family: 'Krona One', sans-serif;
    text-decoration: none !important;
    color: black;
}

h1{
    margin-top: 0;
    margin-bottom: 20px;
    /* color: #fff; */
    font-size:240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h1,h3{
    font-family: 'Krona One', sans-serif;
    text-transform: uppercase;
    font-weight: 100;
}


button {
    border: none;
    font-size: 1rem;
    border-radius: 2rem;
    padding: 1rem 3rem;
    cursor: pointer;
}

span{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* .container{
    margin: 0 5vw;
} */

.text-grey{
    color: var(--text-gray);
}

/*  */
/* 
.dipu {
    width: 100%;
    position: fixed;
    background: #000000 !important;
    overflow: hidden;
    transition: 0.3s;
} */

.dipu3{
    font-family: 'Krona One', sans-serif;
    font-size: 1.4rem;
}

.dipu4{
    font-size: .8rem;
}

.dipu5{
    background-color: var(--midnight);
    font-size: .8rem;
}
.dipu5 a{
    color: #ffffff;
}
/* 
.nav-link:hover{
    background-color: var(--white);
} */

.big{
    color: var(--text-gray) ;
    font-size: x-large;
    padding: 0 .2rem;
    text-align: center;
}

.big:hover{
    color: #a1c4cf;
}

.dipu4 li:link,
.dipu4 li:visited {
  /* giving space b/w text and the bottom-border */
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent ;
  transition: border-bottom 1s;
}

.dipu4 li:hover,
.dipu4 li:active{
  border-bottom: 2px solid var(--text-gray);
}



/* -----------------Main Content----------------- */

/* Site Title */

main .site-title{
    /* background: url(../images/lucas-benjamin-wQLAGv4_OYs-unsplash.jpg); */
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(../images/lucas-benjamin-wQLAGv4_OYs-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex ;
    justify-content: center;
}

main .site-title .site-background{
    padding-top: 10rem;
    text-align: center;
    color: var(--white);
}

main .site-title h1,h3{
    margin: .3rem;
}

main .site-title .new{
    margin: 1.8rem;
    background: var(--sky);
    border-radius: 3rem;
    padding: .7rem 1.5rem;
    
}

main .site-title .new:hover{
    background: transparent;
    border:  1px solid var(--white);
    color: var(--white);
}
/* Site Title */

/* Blog Carousel */
main .blog{
    /* background: url(../images/pexels-miguel-á-padriñán-19670.jpg); */
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
    width: 100%;
}
/* 
main .blog .blog-post {
    padding-top: 6rem;
} */

main .blog-post .blog-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 3rem 2rem;
    box-shadow: 0 15px 20px rgba(0,0,0,0.2);
}

main .blog-content .blog-title{
    padding: 2rem 0;
}

main .blog-content .new-blog{
    padding: .7rem 2rem;
    background: var(--sky);
    margin: .5rem;
}

main .blog-content span{
    display: block;
}

/*--------x---- Blog Carousel ----x--------*/


/* -----------------Site Content----------------- */


main .site-content{
    display: grid;
    grid-template-columns: 70% 30%;
}

main .post-content{
    width: 100%;
    /* margin-top: 2rem; */
    /* margin-bottom: 5rem; */
}


.post-title{
    padding: 1rem 2rem;
    position: relative;
}

.post-title p{
    padding-top: 2rem;
    position: relative;
}

.post-image{
    padding: 1rem 2rem;
    position: relative;
}

.post-info span{
    margin:0.5rem;
}

.post-title .post-new{
    border-radius: 0%;
    /* padding: .7rem 1.5rem; */
    background: var(--sky);
}

main .post-content .post-title a{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}


.post-info{
    background: var(--sky);
    padding: 1rem;
    position: absolute;
    bottom: 0%;
    left: 16vw;
    border-radius: 3rem;
}


.post-image div{
    overflow: hidden;
}

.post-image .img{
    width: 100%;
    transition: all 1s ease;
}

.post-image .img:hover{
    transform: scale(1.3);
}


/* ----------x-------Site Content----------x------- */


/* -----------------Sidebar----------------- */
/* 
.category-list{
    font-family: 'Montserrat', sans-serif;

} */

.list-items{
    background: var(--sky);
    padding: .4rem 1rem;
    margin: .8rem 0;
    border-radius: 3rem;
    display: flex;
}

/* .list-items a{
    color: rgba(0, 0, 0, 0;
} */

.popular-post.post-content{
    padding: 1rem 0;
}

.popular-post h2{
    padding-top: 8rem;
}

.popular-post .post-info{
    padding: .4rem .1rem !important;
    bottom: 0rem !important;
    left: 1.5rem !important;
    border-radius: 0rem !important;
    background: white !important;
}

.popular-post .post-title{
    font-size: 1rem;
}

/* ----------x-------Sidebar----------x------- */

/* ---------x--------Main Content---------x-------- */


/* -----------------Footer----------------- */

footer.footer{
    height: 100%;
    background: rgba(0, 0, 0, 0.877);
    position: relative;
}
/* footer.footer.container>div{
    flex-grow: 1;
    flex-basis: 0;
    padding: 3rem .9rem;
} */
.dipu9{
    flex-grow: 1;
    flex-basis: 0;
    padding: 3rem .9rem;
}

.about-us,
.newsletter,
.instagram,
.follow{
    color: white;
}

.form-element{
    background: black;
    display: inline-block;
}

.form-element input{
    padding: .5rem .7rem;
    border: none;
    background: transparent;
    color: white;
    font-size: 1rem;
    width: 85%;
}
.form-element span{
    background: var(--sky);
    padding: .7rem .7rem;
    cursor: pointer;
}


.follow a{
    padding: 0 .4rem;
}

.tex{
    text-align: center;
    color: var(--white);
}

.move-up{
    position: absolute;
    right: 6%;
    top: 50%;
}

.move-up span{
    color: var(--text-gray);
}

.move-up span:hover{
    color: white;
    cursor: pointer;
}

/* ---------x--------Footer---------x-------- */


/* // Viewport less than or equal to 1130px */
@media only screen and (max-width){
    .site-content.post-content>.post-image.post-info{
        left: 2rem;
        bottom: 1.2rem;
        border-radius: 0% !important;
    }
}



