{% extends 'base.html' %}
{% load static %}

{% block content %}

<!------------------------------- Main Content --------------------------->

<main>


<!-------------------------------Site title --------------------------->

    <section class="site-title">
        <div class="site-background">
            <h3>Read & Enjoy</h3>
            <h1>This Is The Best Blog!!</h1>
            <!-- <button class="new"><a href="{% url 'category-list' %}">Explore</a></button>/ -->
            <a class="btn new" href="{% url 'category-list' %}">Explore</a>
        </div>
    </section>


<!-------------------------------Site title --------------------------->


<!------------------------------- Blog Carousel --------------------------->

<section>
    <div class="blog">
        <div class="container">
            <div class="owl-carousel owl-theme blog-post">
                <div class="blog-content">
                    <img src="{% static 'blogapp/images/pexels-rovenimagescom-949587.jpg' %}" alt="Post-1">
                    <div class="blog-title">
                        <h3>Nature</h3>
                        <button class="new new-blog">Click</button>
                        <span>2 mins</span>
                    </div>
                </div>
                <div class="blog-content">
                    <img src="{% static 'blogapp/images/pexels-vlad-alexandru-popa-1402787.jpg' %}" alt="Post-1">
                    <div class="blog-title">
                        <h3>Nature</h3>
                        <button class="new new-blog">Click</button>
                        <span>4 mins</span>
                    </div>
                </div>
                <div class="blog-content">
                    <img src="{% static 'blogapp/images/pexels-pixabay-36717.jpg' %}" alt="Post-1">
                    <div class="blog-title">
                        <h3>Nature</h3>
                        <button class="new new-blog">Click</button>
                        <span>6 mins</span>
                    </div>
                </div>
                <div class="blog-content">
                    <img src="{% static 'blogapp/images/pexels-pixabay-36717.jpg' %}" alt="Post-1">
                    <div class="blog-title">
                        <h3>Nature</h3>
                        <button class="new new-blog">Click</button>
                        <span>6 mins</span>
                    </div>
                </div>
                <div class="blog-content">
                    <img src="{% static 'blogapp/images/pexels-pixabay-36717.jpg' %}"alt="Post-1">
                    <div class="blog-title">
                        <h3>Nature</h3>
                        <button class="new new-blog">Click</button>
                        <span>6 mins</span>
                    </div>
                </div>
            </div>
            <!-- <div class="owl-navigation">
                <span class="owl-nav-prev"><i class="fa fa-long-arrow-alt-left"></i></span>
                <span class="owl-nav-next"><i class="fa fa-long-arrow-alt-right"></i></span>
            </div> -->
        </div>
    </div>
</section>

<!-----------------x-------------- Blog Carousel ------------------x-------------->

<!-------------------------------Site Content --------------------------->

<section class="container">
    <div class="site-content">
        <div class="posts">
 <div class="post-content">
                <div class="post-image">
                    <div>
                        <img class="img" src="{% static '/blogapp/images/pexels-pixabay-36717.jpg' %}" alt="Post-2">
                    </div>
                    <div class="post-info flex-row">
                        <span><i class="fa fa-user text-grey"></i>&nbsp;&nbsp;Admin</span>
                        <span><i class="fa fa-calendar text-grey" aria-hidden="true"></i>&nbsp;&nbsp;Aug 14 2020</span>
                        <span>2 Comments</span>
                    </div>
                </div>
                <div class="post-title">
                    <a href="#"><strong>Why should boys have all the fun?</strong></a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, velit?
                        Voluptatibus, maiores, repellendus, quibusdam delectus itaque blanditiis accusantium
                        a fugiat deleniti accusamus maxime doloribus quod praesentium voluptatem nisi dolore perferendis?
                        Delectus suscipit dolorum blanditiis a deserunt natus minus pariatur labore.
                    </p>
                    <!-- <button class="btn new post-new"></button> -->
                    <a class="btn new post-new" href="#">Read More &nbsp; <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
            <hr>           
 <div class="post-content">
                <div class="post-image">
                    <div>
                        <img class="img" src="{% static '/blogapp/images/pexels-vlad-alexandru-popa-1402787.jpg' %}" alt="Post-2">
                    </div>
                    <div class="post-info flex-row">
                        <span><i class="fa fa-user text-grey"></i>&nbsp;&nbsp;Admin</span>
                        <span><i class="fa fa-calendar text-grey" aria-hidden="true"></i>&nbsp;&nbsp;Aug 14 2020</span>
                        <span>2 Comments</span>
                    </div>
                </div>
                <div class="post-title">
                    <a href="#"><strong>Why should boys have all the fun?</strong></a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, velit?
                        Voluptatibus, maiores, repellendus, quibusdam delectus itaque blanditiis accusantium
                        a fugiat deleniti accusamus maxime doloribus quod praesentium voluptatem nisi dolore perferendis?
                        Delectus suscipit dolorum blanditiis a deserunt natus minus pariatur labore.
                    </p>
                    <!-- <button class="btn new post-new"></button> -->
                    <a class="btn new post-new" href="#">Read More &nbsp; <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
            <hr>           
        </div>
        <aside class="sidebar">
            <div class="category">
                <h2>Category</h2>
                <ul class="category-list">
                    {% for item in cat_menu %}
                    <li><a class="list-items" href="{% url 'category' item %}">{{ item }}</a></li>
                    {% endfor%}
                </ul>
            </div>
            <div class="popular-post">
                <h2>Popular Post</h2>
                <div class="post-content">
                    <div class="post-image">
                        <div>
                            <img class="img" src="{% static '/blogapp/images/pexels-pixabay-36717.jpg' %}" alt="Post-2">
                        </div>
                        <div class="post-info flex-row">
                            <!-- <span><i class="fa fa-user text-grey"></i>&nbsp;&nbsp;Admin</span> -->
                            <span><i class="fa fa-calendar text-grey" aria-hidden="true"></i>&nbsp;&nbsp;Aug 14 2020</span>
                            <span>2 Comments</span>
                        </div>
                    </div>
                    <div class="post-title">
                        <a href="#"><strong>New Thing Happens</strong></a>
                      </div>
                </div>
                <div class="post-content">
                    <div class="post-image">
                        <div>
                            <img class="img" src="{% static '/blogapp/images/pexels-pixabay-36717.jpg' %}" alt="Post-2">
                        </div>
                        <div class="post-info flex-row">
                            <!-- <span><i class="fa fa-user text-grey"></i>&nbsp;&nbsp;Admin</span> -->
                            <span><i class="fa fa-calendar text-grey" aria-hidden="true"></i>&nbsp;&nbsp;Aug 14 2020</span>
                            <span>2 Comments</span>
                        </div>
                    </div>
                    <div class="post-title">
                        <a href="#"><strong>New Thing Happens</strong></a>
                      </div>
                </div>
                <div class="post-content">
                    <div class="post-image">
                        <div>
                            <img class="img" src="{% static '/blogapp/images/pexels-pixabay-36717.jpg' %}" alt="Post-2">
                        </div>
                        <div class="post-info flex-row">
                            <!-- <span><i class="fa fa-user text-grey"></i>&nbsp;&nbsp;Admin</span> -->
                            <span><i class="fa fa-calendar text-grey" aria-hidden="true"></i>&nbsp;&nbsp;Aug 14 2020</span>
                            <span>2 Comments</span>
                        </div>
                    </div>
                    <div class="post-title">
                        <a href="#"><strong>New Thing Happens</strong></a>
                      </div>
                </div>
            </div>
        </aside>
    </div>
</section>


<!-------------------------------Site Content --------------------------->

<section>
    <div class="dipu7">
        <h1 class="dipu2">Post</h1>
        <ul>
            {% for post in object_list %}
        
                <li class="dipu1"><a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a>
            
                    - <a href="{% url 'category' post.category %}">{{post.category}}</a>
        
                        {{ post.author.first_name }}
                        {{ post.author.last_name }} - 
                        {{ post.post_date}}
    
                        {% if user.is_authenticated %}
                        {% if user.id == post.author.id %}
                            <small><a href="{% url 'update_post' post.pk %}">(Edit)</a></small>
                            <a class="btn btn-danger" href="{% url 'delete_post' post.pk %}">Delete</a>  
                        {% endif %}
                        {% endif %}                            
                        <br/>
                        <!-- To make it look shorter on the home page -->
                        {{ post.snippet }}
                </li>
            {% endfor %}
        </ul>
    </div>
</section>

</main>

<!------------------------------- Main Content --------------------------->


{% endblock %}
